:root {
  --header-bg-color: #24292e;
  --header-logo-color: #fff;
  --border-color: rgba(255, 255, 255, 0.15);
  --header-link-hover: rgb(255, 255, 255, 70%);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  /* color: var(--color-text-primary);
  background-color: var(--color-bg-canvas); */
}

a {
  text-decoration: none;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;

  background-color: #fff;
}

.loading.closed {
  display: none;
}

.header-mobile {
  background-color: var(--header-bg-color);
  padding: 16px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

@media (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}

.header-mobile.closed {
  height: 64px;
}

.header-mobile-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  margin-right: 16px;
  align-self: stretch;
}

.header-mobile-logo {
  flex: auto;
  justify-content: center;
  position: relative;
}

.header-mobile-last {
  margin-right: 0;
}

.header-menu-button {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: initial;
  border: 0;
}

.header-link {
  font-weight: 600;
  color: var(--header-logo-color);
  white-space: nowrap;
}

.header-link:hover,
.header-link:focus {
  color: var(--header-link-hover);
  text-decoration: none;
}

.header-menu-icon {
  vertical-align: text-bottom;
  display: inline-block;
  fill: currentColor;
}

.header-logo-icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

.header-notification-icon {
  vertical-align: text-bottom;
  display: inline-block;
  fill: currentColor;
}

.notif-icon {
  position: relative;
}

.notif-unread {
  position: absolute;
  top: -6px;
  left: 6px;
  z-index: 2;
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #fff;
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border: 2px solid var(--header-bg-color);
  border-radius: 50%;
}

.header-mobile-menu {
  width: 100%;
  order: 2;
  flex-direction: column;
  margin-right: 0;
  margin-top: 16px;
  flex: auto;
}

.mobile-search {
  max-width: 100%;
  transition: 0.2s ease-in-out;
  transition-property: max-width, padding-bottom, padding-top;

  margin-bottom: 16px;
  position: relative;
  align-self: stretch;
  flex: auto;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.mobile-menu-link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid var(--border-color);
}

.mobile-menu-avi {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--color-avatar-border);
}

.mobile-sign-out {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
}

.header-desk {
  background-color: var(--header-bg-color);
  padding: 16px 24px;

  display: none;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .header-desk {
    display: flex;
  }
}

.header-logo {
  margin-top: -4px;
  margin-bottom: -4px;
}

.desk-nav {
  flex: auto;
}

.desk-search {
  max-width: 272px;
  transition: 0.2s ease-in-out;
  transition-property: max-width, padding-bottom, padding-top;

  margin-right: 16px;
  position: relative;
  align-self: auto;
  flex: auto;
}

.desk-menu {
  display: flex;
}

.menu-link {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: -16px;
  margin-bottom: -16px;
  margin-right: 16px;
}

.header-dropdown {
  position: relative;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  cursor: pointer;
}

.dropdown-details > summary {
  display: list-item;
  list-style: none;
}

.details-plus {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
}

.details-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  z-index: 100;
  width: 160px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 2px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

.details-menu::before {
  position: absolute;
  display: inline-block;
  content: "";
  border: 8px solid transparent;
  border-bottom: 8px solid #e1e4e8;
  top: -16px;
  right: 9px;
  left: auto;
}

.details-menu-divider {
  display: block;
  height: 0;
  margin: 8px 0;
  border-top: 1px solid #e1e4e8;
}

.details-item {
  display: block;
  padding: 4px 8px 4px 16px;
  overflow: hidden;
  color: #24292e;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.details-item:hover,
.details-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0366d6;
  outline: none;
}

.current-user {
  padding-bottom: 0;
  font-size: inherit;
}

.user-link {
  display: block;
  color:  #24292e;
  padding: 8px 16px;
  margin-top: -4px;
  margin-bottom: -8px;
}

.downward-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}

details:not([open]) > :not(summary) {
  display: none;
}
