:root {
  --header-bg-color: #24292e;
  --header-logo-color: #fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

.header-mobile {
  background-color: var(--header-bg-color);
  padding: 16px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-mobile.closed {
  height: 64px;
}

.header-mobile-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  margin-right: 16px;
  align-self: stretch;
}

.header-mobile-logo {
  flex: auto;
  justify-content: center;
  position: relative;
}

.header-mobile-last {
  margin-right: 0;
}

.header-menu-button {
  display: inline-block;
  padding: 0;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: initial;
  border: 0;
}

.header-link {
  font-weight: 600;
  color: var(--header-logo-color);
  white-space: nowrap;
}

.header-menu-icon {
  vertical-align: text-bottom;
  display: inline-block;
  fill: currentColor;
}

.header-logo-icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

.header-notification-icon {
  vertical-align: text-bottom;
  display: inline-block;
  fill: currentColor;
}

.notif-icon {
  position: relative;
}

.notif-unread {
  position: absolute;
  top: -6px;
  left: 6px;
  z-index: 2;
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #fff;
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border: 2px solid var(--header-bg-color);
  border-radius: 50%;
}

.header-mobile-menu {
  width: 100%;
  order: 2;
  flex-direction: column;
  margin-right: 0;
  margin-top: 16px;
  flex: auto;
}

.mobile-search {
  max-width: 100%;
  transition: 0.2s ease-in-out;
  transition-property: max-width, padding-bottom, padding-top;

  margin-bottom: 16px;
  position: relative;
  align-self: stretch;
  flex: auto;
}
